.list {
  font-size: larger;
  font-weight: 900;
  color: black;
  background: #D3C1AE;
  width:300px;
  border-style:solid;
  border-width: 5px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.list:hover {
  color:aliceblue;

}

.list-grid {
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
}

.list a{
  text-decoration: none;
  color:black;
}