.list {
  font-size: larger;
  font-weight: 900;
  color: darkblue;
  background: url("../../../public/Images/capture1.jpg");
  width:300px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  border-style:dotted;
  border-radius: 20px;
}

.list:hover {
  color:aliceblue;
}