.list {
  font-size: larger;
  font-weight: 900;
  color: darkblue;
  background: url("../../capture1.jpg");
  width:300px;
  border-style:dotted;
  border-radius: 20px;
}

.list:hover {
  color:aliceblue;
}

.list-grid {
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
}