.experience{
    background: #D3C1AE;
    width:300px;
    border-style:solid;
    border-width: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 20px auto;
    padding-bottom: 20px;
}

.detailP{
  background: #D3C1AE;
  width: 600px;
  height: 180px;
  border-width: 5px;
  border-radius: 20px;
  margin-top: 50px;
  padding-top: 4px;
  font-size: x-large;
  font-weight: 900;
  border-style: solid;
  margin:auto;
  margin-bottom: 20px;
}

.reviewList{
  margin-bottom: 20px;
}

.category{
    font-weight: 800;
}